<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="css/AboutUs.css">
</head>

<body>
    <div class="navbar">
        <div class="buttons">
            <img src="images/logo.png" alt="logo" class="logo">
            <a href="/home" class="homebutton">Home</a>
            <a href="/about" class="aboutus">About Us</a>
            <a href="/contact" class="contactus">Contact Us</a>
            <div class="searcharea">
                <input type="text" class="search" placeholder="Search..."></input>
                <a href="/search"><img src="images/search.png" class="searchicon" alt="search"></a>
            </div>
            <a href="/login" class="login">LOGIN</a>
        </div>
    </div>
    <div class="wholebody">
        <img src="images/carwithman.png" alt="" class="carwithman">
    </div>
    <div class="paragraph">
        <span class="spaned">
            Welcome to Gaminator, your go-to hub for all things gaming! We’re passionate gamers who understand the
            thrill of
            discovering the latest releases and classic favorites. Our mission is to provide a seamless shopping
            experience,
            offering a wide selection of games across all platforms, from PC and consoles to mobile devices.
            <br><br>
            At Gaminator, we pride ourselves on our extensive library, featuring everything from blockbuster hits to
            indie
            gems. Our dedicated team is always on the lookout for the best titles, ensuring that you have access to the
            most
            exciting games in the industry.
            <br><br>
            What sets us apart is our commitment to our community. We believe that gaming is more than just
            entertainment;
            it’s about connection and creativity. That's why we not only sell games but also foster a vibrant community
            of
            gamers through forums, reviews, and events.
            <br><br>
            Join us at Gaminator, where your next gaming adventure awaits! Explore our collection, connect with fellow
            gamers, and let’s level up together!
        </span>
    </div>
    <section class="conveyer-belt">
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
    </section>
    <div class="question">
        <img src="images/line.png" alt="" class="line">
        <span class="questionmark">IS GAMINATOR LEGIT?</span>
        <img src="images/line.png" alt="" class="line">
    </div>
    <div class="answer">
        <span class="spananswer">
            Short answer: Yes.
<br><br>
            Long answer: Yesssssss.
<br><br>
            Full answer: Every key we sell comes directly from game publishers, meaning when you purchase from us you
            know you aren’t getting a key from a dodgy source… We have contracts with over 1300 publishers making us an
            official source for PC and Xbox keys.
<br><br>
            What does that mean for you? It means if you buy a key from us it supports developers and publishers so they
            can keep making the games you love. It means every purchase you make with us is official and legitimate,
            helping you shop in safety.
<br><br>
            When purchasing with us you'll instantly get your key for games that have already been released.
            Pre-purchase keys are provided nearer to launch; you can check out more info on our support site. We sell
            games that activate on a wide variety of DRM platforms with easy-to-follow, step-by-step guides that help
            you activate your purchase straight away. Buying with us is quick, safe, and simple: it's never been easier
            to get into gaming than with Green Man Gaming.
        </span>
    </div>
    
    <div class="colorrectangle">
        <div class="safeandsecure">
            <img src="images/safeandsecure.png" alt="" class="safeandsecureimg">
            <br>
            <span>SAFE & SECURE</span>
            <br>
            <span>Gaminator Guarantee is at NO additional cost to you, so you will get the item as described or your
                money back</span>
        </div>
        <img src="images/verticalwhiteline.png" alt="" class="verticalwhiteline">
        <div class="buywithconfidence">
            <img src="images/buywithconfidence.png" alt="" class="buywithconfidenceimg">
            <br>
            <span>
                Buy with Confidence
            </span>
            <br>
            <span>
                You can compare prices, view ratings & reviews and even negotiate directly with every seller to get the
                best deal when making your purchase.
            </span>
        </div>
        <img src="images/verticalwhiteline.png" alt="" class="verticalwhiteline">
        <div class="buyfromanywhere">
            <img src="images/buyfromanywhere.png" alt="" class="buyfromanywhereimg">
            <br>
            <span>Buy from Anywhere</span>
            <br>
            <span>
                Don't miss out great deals no matter where you're at with our iOS and Android app. We're the only
                digital marketplace on both PC or mobile.
            </span>
        </div>
    </div>
    <div class="footer">
        <div class="topfooter">
            <img src="images/logo.png" alt="logo" class="footerlogo">
            <div class="contact">
                <span>
                    Contact Information
                </span>
                <br>
                <span>
                    Phone: 111111
                </span>
                <br>
                <span>
                    Email: email@email.com
                </span>
                <br><br>
                <img src="images/fbinsta.png" alt="" class="fbinsta">
            </div>
            <div class="creators">
                <span>
                    Website designed by
                </span>
                <br>
                <span>
                    Utsav Kattel & Nilesh Guragain
                </span>
            </div>
        </div>

        <div class="whiteline">

        </div>
        <div class="footerfoot">
          <span>
            ©2024 by Gaminator | All rights Reserved |
        </span>  
        </div>
        
    </div>

</body>

</html>