<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>adminDashboard</title>
  <link rel="stylesheet" type="text/css" href="css/adminDashboard.css">
</head>

<body>
  <div class="navbar">
    <div class="buttons">
      <img src="images/logo.png" alt="logo" class="logo">
      <div class="profileshowcase">
        <img src="images/profile.png" alt="profile" class="profile">
        <p th:if="${adminName}" class="hi"
		th:text="${adminName}"></p>
      </div>
      <a href="/logout" class="login">LOGOUT <img src="images/logout.png" alt="" class="logout"> </a>
    </div>
  </div>
  <div class="container">
    <div class="sub-container">
	
      <form id="searchForm" action="/search" method="get">
      <p th:if="${error}" style="color: red;" th:text="${error}"></p>
	  <p th:if="${success}" style="color: green;" th:text="${success}"></p>
        <div class="searcharea">
          <input type="text" class="search" placeholder="Search..." name="gamename"></input>
          <a href="javascript:void(0);" onclick="document.getElementById('searchForm').submit();">
            <img src="images/search.png" class="searchicon" alt="search">
          </a>
        </div>
      </form>
      <div class="groupedbutton">
        <div class="buttonit" style="margin-left: 50px;">
          <a href="/newGame" class="buttoned">ADD NEW GAME</a>
        </div>
        <div class="buttonit">
          <a href="/gamesForCodes" class="buttoned">ADD NEW CODES</a>
        </div>
      </div>

    </div>

  </div>
  <div class="footer">
    <div class="topfooter">
      <img src="images/logo.png" alt="logo" class="footerlogo">
      <div class="contact">
        <span>
          Contact Information
        </span>
        <br>
        <span>
          Phone: 111111
        </span>
        <br>
        <span>
          Email: email@email.com
        </span>
        <br><br>
        <img src="images/fbinsta.png" alt="" class="fbinsta">
      </div>
      <div class="creators">
        <span>
          Website designed by
        </span>
        <br>
        <span>
          Utsav Kattel & Nilesh Guragain
        </span>
      </div>
    </div>

    <div class="whiteline">

    </div>

    <div class="footerfoot">
      <span>
        ©2024 by Gaminator | All rights Reserved |
      </span>
    </div>

  </div>
</body>

</html>