<!DOCTYPE html>
<html lang="en">

<head>
    <title>homepage</title>
    <style type="text/css">
     .homebutton {
     max-height: 40px;
     max-width: 100px;
     margin-left: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: url("images/homebutton.png");
     height: 63px;
     width: 153px;
     text-decoration: none;
     color: white;
     background-repeat: no-repeat;
     background-size: cover;
 }
  .colorrectangle{
    height: 300px;
    width: 1400px;
    background-image: url(image/colorrectangle.png);
    margin: auto;  
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    text-align: center;
 }
    </style>
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
</head>

<body>
    <div class="navbar">
        <div class="buttons">
            <img src="images/logo.png" alt="logo" class="logo">
            <a href="/home" class="homebutton">Home</a>
            <a href="/about" class="aboutus">About Us</a>
            <a href="/contact" class="contactus">Contact Us</a>
            <form id="searchForm" action="/search" method="get">
				<div class="searcharea">
					<input type="text" class="search" placeholder="Search..." name="gamename"></input> 
					<a href="javascript:void(0);" onclick="document.getElementById('searchForm').submit();"> 
						<img src="images/search.png" class="searchicon" alt="search">
					</a>
				</div>
			</form>
            <a href="/login" class="login">LOGIN</a>
        </div>
    </div>

    <div class="backgroundvideo">
        <div class="color">
            <video autoplay muted loop src="videos/Play hard.mp4" class="background-video"></video>
        </div>

        <a href="/exploregames" class="play">
            <div class="text">Play Now</div>
        </a>
    </div>
    <div class="games">
        <a href="/exploregames" class="gta">
            <img src="images/gtav.png" alt="" class="gtav">
        </a>
        <br>
        <a href="/exploregames" class="mine">
            <img src="images/minecraft.png" alt="" class="minecraft">
        </a>
        <a href="/exploregames" class="rdr">
            <img src="images/rdr2.png" alt="" class="rdr2">
        </a>
        <a href="/exploregames" class="mores">
            <img src="images/more.png" alt="" class="more">
        </a>
    </div>
    <div class="texts">
        <h1 class="cheapgames">BUY CHEAP GAMES WITH BEST DEALS</h1>
        <img src="images/right.png" alt="img" class="right">
        <video src="videos/video.mp4" autoplay loop muted class="secondvideo"></video>
        <div class="explanation">
            Gaminator has a wide selection of games at discount directly from other gamers.
            <br>
            <br>
            Find the best deals on video games across all platforms. Get the latest titles on Xbox One, PS4, Nintendo
            Wii U, Steam or catch up on your favorite classic franchises on retro consoles. Whether it's brand new,
            pre-owned, physical or digital, you'll be able find them all on Gameflip.
            <br><br>
            Simply search or browse game using our website. Our marketplace has a wide selection from many sellers. With
            digital and auto-delivery option, you can receive the game CD key immediately after purchase.
            <br><br>
            With the Gaminator Guarantee promise, you can purchase video games with confidence.
            <br><br>
            <a href="/about" class="readmore">Read more></a>
        </div>
    </div>
    <section class="conveyer-belt">
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
      </section>
    <div class="works">
        <img src="images/line.png" alt="">
        <span class="how">HOW IT WORKS</span>
        <img src="images/line.png" alt="">
    </div>
    <div class="howitworks">
        <span class="spanss">
            <span class="span">
                1. FIND IT
            </span>
            <br><br>
            Search or browse games from our wide selection. Check daily for great deals.
        </span>
        <span class="spans">
            <span class="span">
                2. BUY IT
            </span>
            <br><br>
            Search or browse games from our wide selection. Check daily for great deals.
        </span>
        <span class="spanss">
            <span class="span">
                3. COMPLETE TRANSACTION
            </span>
            <br><br>
            Receive the item and complete the transaction. You can also optionally rate the seller.
        </span>
    </div>
    <div class="longline"></div>
    <div class="populargames">
        <span class="popular">POPULAR GAMES</span>
        <div class="populargame">
            <button class="leftbutton">
                <img src="images/leftarrow.png" alt="">
            </button>
            <img src="images/populargames.png" alt="populargames" class="populargameimg">
            <button class="rightbutton">
                <img src="images/rightarrow.png" alt="">
            </button>
        </div>
    </div>

    <div class="colorrectangle">
        <div class="safeandsecure">
            <img src="images/safeandsecure.png" alt="" class="safeandsecureimg">
            <br>
            <span>SAFE & SECURE</span>
            <br>
            <span>Gaminator Guarantee is at NO additional cost to you, so you will get the item as described or your
                money back</span>
        </div>
        <img src="images/verticalwhiteline.png" alt="" class="verticalwhiteline">
        <div class="buywithconfidence">
            <img src="images/buywithconfidence.png" alt="" class="buywithconfidenceimg">
            <br>
            <span>
                Buy with Confidence
            </span>
            <br>
            <span>
                You can compare prices, view ratings & reviews and even negotiate directly with every seller to get the
                best deal when making your purchase.
            </span>
        </div>
        <img src="images/verticalwhiteline.png" alt="" class="verticalwhiteline">
        <div class="buyfromanywhere">
            <img src="images/buyfromanywhere.png" alt="" class="buyfromanywhereimg">
            <br>
            <span>Buy from Anywhere</span>
            <br>
            <span>
                Don't miss out great deals no matter where you're at with our iOS and Android app. We're the only
                digital marketplace on both PC or mobile.
            </span>
        </div>
    </div>

    <div class="hear">
        <span>Hear from our Customers</span>
    </div>

    <div class="hearfromourcustomer">

        <div class="sameer">
            <span class="name">SAMEER KHATRI&ensp;
                <img src="images/checkmark.png" alt="" class="checkmark">
            </span>
            <br>
            <div class="reviewcontent">
                <img src="images/5star.png" alt="" class="star">
                <span>
                    <br>
                    <span class="topic">
                        “Game Lover Extraordinaire”
                    </span>
                    <br><br>
                    “I’ve been a gamer for years, and finding affordable games has always been a challenge.
                    This website is a game-changer! The selection is vast, and the prices are unbeatable. I
                    snagged the latest titles at a fraction of the cost, and the process was smooth and hassle-free.
                    Highly recommend for anyone looking to expand their collection without breaking the bank!”
                </span>
            </div>

        </div>
        <div class="pragya">
            <span class="name">PRAGYA CHAUHAN&ensp;
                <img src="images/checkmark.png" alt="" class="checkmark">
            </span>
            <br>
            <div class="reviewcontent">
                <img src="images/5star.png" alt="" class="star">
                <br>
                <span>
                    <span class="topic">
                        “Budget Gaming Guru”
                    </span>
                    <br><br>
                    “I was skeptical at first, but this site has exceeded my expectations! The deals are incredible, and
                    the
                    discounts are consistent. Whether I’m hunting for the newest releases or classic favorites, I always
                    find what I’m looking for at prices that make my wallet happy. This site is now my go-to for all
                    things
                    gaming.”
                </span>
            </div>

        </div>
        <div class="nilesh">
            <span class="name">NILESH GURAGAIN&ensp;
                <img src="images/checkmark.png" alt="" class="checkmark">
            </span>
            <br>
            <div class="reviewcontent">
                <img src="images/5star.png" alt="" class="star">
                <span>
                    <br>
                    <span class="topic">
                        “Hardcore Gamer”
                    </span>
                    <br><br>
                    “I’m a bit of a gaming fanatic and always on the lookout for the best deals. This website delivers
                    every
                    time. From AAA titles to indie gems, I’ve found everything I need at fantastic prices. Plus, their
                    customer service is top-notch. If you’re serious about gaming but want to save money, this is the
                    site
                    to visit.”
                </span>
            </div>

        </div>
    </div>
    <section class="conveyer-belt">
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
        <p class="loop-text">Gaminator</p>
      </section>
    <img src="images/egirl.png" alt="egirl" class="egirl">
    <div class="footer">
        <div class="topfooter">
            <img src="images/logo.png" alt="logo" class="footerlogo">
            <div class="contact">
                <span>
                    Contact Information
                </span>
                <br>
                <span>
                    Phone: 111111
                </span>
                <br>
                <span>
                    Email: email@email.com
                </span>
                <br><br>
                <img src="images/fbinsta.png" alt="" class="fbinsta">
            </div>
            <div class="creators">
                <span>
                    Website designed by
                </span>
                <br>
                <span>
                    Utsav Kattel & Nilesh Guragain
                </span>
            </div>
        </div>

        <div class="whiteline">

        </div>
        <div class="footerfoot">
          <span>
            ©2024 by Gaminator | All rights Reserved |
        </span>  
        </div>
        
    </div>
</body>

</html>