<!DOCTYPE html>
<html lang="en">

<head>
    <title>newGame</title>
    <link rel="stylesheet" type="text/css" href="css/newGame.css">
</head>

<body>
    <div class="navbar">
        <img src="images/logo.png" alt="logo" class="logo">
    </div>
    <div class="maincontainer">
        <br>
        <h2>ADD NEW GAME</h2>
        <form action="/newGame" method="post" enctype="multipart/form-data">
            <div class="sub-container">
                <div class="firstcolumn">
                    <div class="input">
                        <label for="name">Game Name</label>
                        <br>
                        <input type="text" name="name" id="name" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="company">Company</label>
                        <br>
                        <input type="text" name="company" id="company" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="releasedate">Release Date</label>
                        <br>
                        <input type="date" name="releaseDate" id="releasedate" required class="inputfielddate">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="price">Price</label>
                        <br>
                        <input type="text" name="price" id="price" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="description">Description</label>
                        <br>
                        <textarea name="description" id="description" required class="description"></textarea>
                    </div>
                </div>
                <div class="secondcolumn">
                    <div class="input">
                        <label for="genre">Genre</label>
                        <br>
                        <input type="text" name="genre" id="genre" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="size">Size in GB</label>
                        <br>
                        <input type="number" name="size" id="size" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="platform">Platform</label>
                        <br>
                        <input type="text" name="platform" id="platform" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="downloadlink">Download/Redeem Link</label>
                        <br>
                        <input type="url" name="downloadLink" id="downloadlink" required class="inputfield">
                        <br><br>
                    </div>
                    <div class="input">
                        <label for="thumbnail">Thumbnail</label>
                        <br>
                        <input type="file" accept="image/*" id="thumbnail" name="thumbnail" required>
                        <br><br>
                        <button type="submit" class="button">ADD GAME</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="topfooter">
            <img src="images/logo.png" alt="logo" class="footerlogo">
            <div class="contact">
                <span>
                    Contact Information
                </span>
                <br>
                <span>
                    Phone: 111111
                </span>
                <br>
                <span>
                    Email: email@email.com
                </span>
                <br><br>
                <img src="images/fbinsta.png" alt="" class="fbinsta">
            </div>
            <div class="creators">
                <span>
                    Website designed by
                </span>
                <br>
                <span>
                    Utsav Kattel & Nilesh Guragain
                </span>
            </div>
        </div>

        <div class="whiteline">

        </div>

        <div class="footerfoot">
            <span>
                ©2024 by Gaminator | All rights Reserved |
            </span>
        </div>

    </div>
</body>

</html>