<!DOCTYPE html>
<html lang="en">

<head>
    <title>otp</title>
    <link rel="stylesheet" type="text/css" href="css/otp.css">
</head>

<body>
    <div class="navbar">
            <img src="images/logo.png" alt="logo" class="logo">
    </div>
    <div class="container">
     <div class="otpcontainer">
        <br>    
      <h2>Verify Your OTP</h2>
      <br>
      <form action="/otp" method="post">
             <label for="otp"> Your OTP:</label><br>
            <input type="text" name="otp" class="otp" id="otp">
            <br><br>
            <button type="submit" class="button">Next</button>

      </form>

     </div>
    </div>
    <div class="footer">
        <div class="topfooter">
            <img src="css/logo.png" alt="logo" class="footerlogo">
            <div class="contact">
                <span>
                    Contact Information
                </span>
                <br>
                <span>
                    Phone: 111111
                </span>
                <br>
                <span>
                    Email: email@email.com
                </span>
                <br><br>
                <img src="images/fbinsta.png" alt="" class="fbinsta">
            </div>
            <div class="creators">
                <span>
                    Website designed by
                </span>
                <br>
                <span>
                    Utsav Kattel & Nilesh Guragain
                </span>
            </div>
        </div>

        <div class="whiteline">

        </div>

        <div class="footerfoot">
            <span>
                ©2024 by Gaminator | All rights Reserved |
            </span>
        </div>

    </div>
</body>

</html>